<div class="card mb-3 mt-3 border-0">
    <div class="row no-gutters justify-content-center">
        <div class="col-md-12">
            <div class="card-body">
                <table class="table table-bordered tblHabilidades">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Habilidad</th>
                            <th scope="col">Nivel Habilidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in habilidades %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{item.NombHabil}}</td>
                            <td>{{item.NiveHabil}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
