<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CurriculumYa | {% block title %}{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static './css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './css/style2.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    
</head>
<body>
    <!-- Contenido HTML, esta será nuestra base para poder mostrar el contenido -->
    {% block content %}{% endblock %}}

    <!-- Javascripts -->
    <script src="{% static './js/jquery.min.js' %}"></script>
    <script src="{% static './js/popper.min.js' %}"></script>
    <script src="{% static './js/bootstrap.min.js' %}"></script>
</body>
</html>