<!-- Incluimos nuestra plantilla base -->
{% extends './base.html' %}

<!-- Ponemos el título de la página -->
{% block title %} Tu hoja de vida online {% endblock %}

<!-- Marcamos el inicio del contenido -->
{% block content %}

<!-- Archivos estáticos -->
{% load static %}

<!-- #region Modal -->
<div class="modal fade" id="ModalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="#" alt="Imagen Login" class="imgLogin mb-4" />
                <form action="../perfil" method="post">
                    <div class="form-label-group">
                        <input type="email" name="txtEmail" class="form-control"
                            placeholder="Ingrese su Correo Electronico" required>
                        <label for="inputEmail">Correo electrónico</label>
                    </div>
                    <div class="form-label-group">
                        <input type="password" name="txtContrasena" class="form-control"
                            placeholder="Ingrese su Contraseña" required>
                        <label for="inputPassword">Contraseña</label>
                    </div>
                    <div class="form-label-group text-center">
                        <a href="../usuario/perfil" class="btn btnPagina px-5">Enviar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region Menu-->
<nav class="navbar navbar-expand-lg bg-dark pt-4 blqNav">
    <a class="navbar-brand" href="#">CurriculumYa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../nosotros">Nosotros</a>
            </li>
            <li class="nav-item">
                <p class="nav-link btnModal" data-toggle="modal" data-target="#ModalLogin">Iniciar sesión</p>
            </li>
        </ul>
    </div>
</nav>
<!-- #endregion -->
<!-- #region Sección principal-->
<section>
    <!-- Blq Inicio-->
    <div class="jumbotron-fluid blqInicio bg-dark text-white mb-5">
        <h1 class="display-4 text-center">¡Bienvenidos a tu CurriculumYa!</h1>
        <p class="text-center">Una página orientada a la creación de curriculums</p>
        <br>
    </div>
    <div class="jumbotron-fluid my-5">
        <!-- BLq Registro-->
        <div class="text-center">
            <h1 class="display-2">¡Registrate!</h1>
            <h3>En nuestra página podrás crear y editar tu propia hoja de vida.</h3>
            <br>
            <a href="../registro" class="btn btnPagina">
                <h4>Registrarse</h4>
            </a>
        </div>
    </div>
    <!-- Blq CVS-->
    <div class="jumbotron-fluid bg-dark text-center text-white py-4 my-3">
        <h1 class="display-4">Gran variedad de plantillas</h1>
        <p>Elige la Hoja de Vida que quieras con nuestra gran variedad de plantillas.</p>
        <br>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static '/img/imgCurriculum1.jpg' %}" class="imgCurriculum" alt="Hoja de Vida 1">
                </div>
                <div class="carousel-item">
                    <img src="{% static '/img/imgCurriculum3.png' %}" class="imgCurriculum" alt="Hoja de Vida 3">
                </div>
                <div class="carousel-item">
                    <img src="{% static '/img/imgCurriculum2.jpg' %}" class="imgCurriculum" alt="Hoja de Vida 2">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon iconFlecha" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon iconFlecha" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!-- Blq Tecnologias Usadas-->
    <div class="container mt-5 justify-content-center pb-5">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Tecnologias que usamos</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-3 text-center">
                <!-- <div class="bg-secondary iconEmpresas"></div> -->
                <i class="fab fa-html5 iconTecnologias"></i>
            </div>
            <div class="col-sm-3 text-center">
                <i class="fab fa-css3-alt iconTecnologias"></i>
            </div>
            <div class="col-sm-3 text-center">
                <i class="fab fa-js iconTecnologias"></i>
            </div>
            <div class="col-sm-3 text-center">
                <i class="fab fa-python iconTecnologias"></i>
            </div>
        </div>
    </div>
    <div class="jumbotron-fluid bg-dark mb-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                </div>
            </div>
        </div>
    </div>
    <!-- Blq Pie de página-->
    <div class="jumbotron-fluid bg-dark text-white pb-4 pt-4 mb-4">
        <div class="container px-5">
            <div class="row">
                <div class="col-sm-12">

                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <h1 class="text-center">Contacto</h1>
                    <form method="post" class="font-weight-bold">
                        <!-- Nos aseguramos que el formulario se envíe de manera segura -->
                        {% csrf_token %}
                        <br>
                        <label for="Email">Email</label>
                        <br>
                        {{formulario.email}}
                        <!-- 
                            <input type="email" name="txtEmail" id="Email" class="form-control"
                                placeholder=" Ingrese su Email" required>
                            -->
                        <br>
                        <label for="Asunto">Asunto</label>
                        <br>
                        {{formulario.asunto}}
                        <!--
                        <input type="text" name="txtAsunto" id="Asunto" class="form-control"
                            placeholder=" Ingrese el Asunto" required />
                        -->
                        <br>
                        <label for="Cuerpo">Cuerpo</label>
                        <br>
                        {{formulario.msj}}
                        <!--
                        <textarea name="txtCuerpo" id="Cuerpo" rows="5" cols="60" class="form-control"></textarea>
                        #endregion -->
                        <br>
                        {% if 'OK' in request.GET %}
                            <span class="col-sm-12 alert alert-success mx-2" role="alert">
                                ¡Hemos enviado tu mensaje!
                            </span>
                        {% else %}
                        
                        {% endif %}
                        <input type="submit" value="Enviar" class="btn btnPagina px-4">
                    </form>
                </div>
                <div class="col-sm-7">
                    <h1 class="text-center pb-5">Ubicación</h1>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29720.821689697415!2d-157.93987910958458!3d21.38586005246602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c0068b8f5c2c16f%3A0xcf3491935121c26e!2sAiea%2C+Haw%C3%A1i+96701%2C+EE.+UU.!5e0!3m2!1ses!2sde!4v1557765258138!5m2!1ses!2sde"
                        class="frmMapa" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #endregion -->

{% endblock %}